<p>nodes number: {{networkService.nodes.length}}</p>
<p>edges number: {{networkService.edges.length}}</p>
<hr *ngIf="mode!=null" />
<div [ngSwitch]="mode">
  <div *ngSwitchCase="0">
    <t-json-viewer [json]="showObject" [maxCollapsedLength]="40" [expandAll]="true"></t-json-viewer>
    <button *ngIf="!showObject.shutdown" (click)="networkService.shutdownRouter(showObject.id);">关闭路由器</button>
    <button *ngIf="showObject.shutdown" (click)="networkService.turnOnRouter(showObject.id)">重新打开路由器</button>
  </div>
  <div *ngSwitchCase="1">
    <t-json-viewer [json]="showObject" [maxCollapsedLength]="40" [expandAll]="true"></t-json-viewer>
    <div>修改链路开销：
      <input type="number" [(ngModel)]="linkCost">
      <button (click)="changeLinkCost(showObject.from, showObject.to, linkCost)">修改</button>
    </div>
  </div>
  <div *ngSwitchCase="2">
    <h2>please input router info: </h2>
    <div>id:
      <input type="number" [(ngModel)]="nodeId">
    </div>
    <div>
      <button (click)="confirmInput();">OK!</button>
    </div>
  </div>
  <div *ngSwitchCase="3">
    <h2>please input link info: </h2>
    <div>link cost:
      <input type="number" [(ngModel)]="linkCost">
    </div>
    <div>
      <button (click)="confirmInput();">OK!</button>
    </div>
  </div>
  <!-- mode为undefined时什么都不显示 -->
  <div *ngSwitchDefault></div>
</div>
